
<div class="container">
    <section class="content-stripe">
        <h1>What is FTSE Ventures?</h1>
        <p>FTSE Ventures predicts which way companies listed on the FTSE 100 & 250 will move</p>

</section>
    <section class="content-stripe">
        <br>
    </section>
<section class="content-stripe">
    <h2>How?</h2>
    <h4>The site looks at four primary factors to calculate a final score out of ten</h4>
    <p>1. Moving Average – Calculate the 50 & 200 day moving average</p>
    <p>2. Analyst Predication – Look at how banks and analysts predict the price will move</p>
    <p>3. Director Dealing – Find which Directors are actively trading</p>
</section>
    <section class="content-stripe">
        <br>
    </section>

</div>
